/* SETUP 
===========================================
*/

:root {

    --color-primary: #212629;
    --color-secondary: #384045;
    --color-accent: #65747e;

    --color-text: #292f32;
    --color-text--light: #3f494f;
    --color-link-hover: #5e6c74;

    --color-button-text--light: white;
    --color-button-text--dark: var(--color-primary);

    --font-fam: 'Work Sans', sans-serif;
    --font-light: 300;
    --font-reg: 400;
    --font-bold: 700;
    --font-size-heading: 4rem;
    --font-size-title: 2.4rem;
    --font-size-text: 1.6rem;
    --font-form-label-font-size: 1.6rem;

    --transition: all .2s cubic-bezier(.5, 0 , .5, 1);
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* { 
    box-sizing: border-box;
 }


 html {
    box-sizing: border-box;
    font-size: 10px;
    
    font-family: var(--font-fam);
    font-weight: var(--font-reg);
    font-size: var(--font-size-text);
    color: var(--color-text);
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

h2 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-bold);
  margin: 3.2rem 0 3.2rem 0;
}
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
      text-decoration: none;
  }




/* PROJECT 
===========================================
*/